<!DOCTYPE HTML>
<html ng-app="myApp">
<head>
<title>Admin Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<link href="css/adminstyle.css" rel='stylesheet' type='text/css' />
<link href="css/font-awesome.css" rel="stylesheet"> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
  <script src="https://docraptor.com/docraptor-1.0.0.js"></script>
  <script src="js/xepOnline.jqPlugin.js"></script>
<script>
    var downloadPDF = function() {
      DocRaptor.createAndDownloadDoc("YOUR_API_KEY_HERE", {
        test: true, // test documents are free, but watermarked
        type: "pdf",
        document_content: document.querySelector('html').innerHTML, // use this page's HTML
      })
    }
  </script>
<script>
var app = angular.module("myApp", []);
app.controller("myCtrl", function($scope) {
    $scope.star=0;
   $scope.end=4;
   $scope.change=function(){
    $scope.star=$scope.star+5;
       $scope.end=$scope.end+5;
       
   };
   $scope.previous=function(){
  $scope.star=$scope.star-5;
      $scope.end=$scope.end-5;
      
  };
   $scope.range = function(min, max, step) {
   step = step || 1;
   var input = [];
   for (var i = min; i <= max; i += step) {
       input.push(i);
   }
   return input;
};
 $scope.records = [
   {
   sno:1,	
   empid:10,
   name:"kiran",
   },
   {
   	sno:2,
   empid:20,
   name:"kumar",
   },
   {sno:3,
   empid:30,
   name:"pavi",
   },
   {sno:4,
   empid:40,
   name:"kiran",
   },
   {sno:5,
   empid:50,
   name:"kumar",
   },
   {sno:6,
   empid:60,
   name:"pavi",
   },{sno:7,
   empid:70,
   name:"kiran",
   },
   {sno:8,
   empid:80,
   name:"kumar",
   },
   {sno:9,
   empid:90,
   name:"pavi",
  },
   {sno:10,
   empid:100,
   name:"kiran",
   },
   {sno:11,
   empid:110,
   name:"kumar",
   },
   {sno:12,
   empid:120,
   name:"pavi",
  },{sno:13,
   empid:130,
   name:"kiran",
   },
   {sno:14,
   empid:140,
   name:"kumar",
   },
   {sno:15,
   empid:150,
   name:"pavi",
   },{sno:16,
   empid:160,
   name:"kiran",
   },
   {sno:17,
   empid:170,
   name:"kumar",
   },
   {sno:18,
   empid:180,
   name:"pavi",
   },{sno:19,
   empid:190,
   name:"kiran",
   },
   {sno:20,
   empid:200,
   name:"kumar",
   },
   {sno:21,
   empid:210,
   name:"pavi",
   },
   {sno:22,
   empid:220,
   name:"pavi",
   },
   {sno:23,
   empid:230,
   name:"pavi",
   },
   {sno:24,
   empid:240,
   name:"pavi",
   },{sno:25,
   empid:250,
   name:"pavi",
   }
 ]
});
</script>

</head>

<body>

<div class="container">
   <div class="container page-container">   
      <div class="left-content bdy">
	    <div class="mother-grid-inner">


		   <div class="header-main">
			  <div class="logoimg">
				  <h1><a class="logo" href="index.html">
                         <img src="images/logo.png" class="img-responsive">
                  </a></h1>
			  </div>
              <div class="searchbox">
									<form action="#" method="post">
										<input type="text" placeholder="Search..." required="">	
										<input type="submit" value="">					
									</form>
								</div>
			  <div class="profile_details">		
				 <ul>
				   <li class="dropdown profile_details_drop">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<div class="profile_img">	
						  <span class="prfil-img"></span> 
							<div class="user-name">
							  <p>Admin</p>
							</div>
							 <i class="glyphicon glyphicon-chevron-down"></i>
							 <i class="glyphicon glyphicon-chevron-up"></i>
							 <div class="clearfix"></div>	
						</div>	
					  </a>
						<ul class="dropdown-menu drp-mnu">			
							<li> <a href="index.html"><i class="glyphicon glyphicon-log-out"></i><b>Logout<b></a> </li>
						</ul>
					</li>
				 </ul>
			  </div>			
		      <div class="clearfix"> </div>	
		   </div>



		    <ol class="breadcrumb">
                <li class="home"><a href="index.html">Home</a> <i class="glyphicon glyphicon-chevron-right"></i></li>
            </ol>



		<div class="four-grids">
		   <div class="col-md-4 four-grid totalleft">
			  <div class="total">
			  <a href="#">
				 <div class="icon">
					<i class="glyphicon glyphicon-duplicate zoom" aria-hidden="true">
			     <div class="four-text">
					<h3>Total</h3>
					<h4> Resume </h4>
				 </div>
				 </i>
				 </div>
				</a>
			  </div>
		   </div>
		   <div class="col-md-4 four-grid complete">
			  <div class="completed">
			  <a href="#">
				 <div class="icon">
					<i class="glyphicon glyphicon-ok zoom" aria-hidden="true">
				
				 <div class="four-text">
					<h3>Completed</h3>
					<h4>Resume</h4>
				 </div>
				 </i>
				</div>
				</a>
			  </div>
		   </div>
		   <div class="col-md-4 four-grid pendingleft">
			 <div class="pending">
				<a href="#">
				<div class="icon">
				  <i class="glyphicon glyphicon-time zoom " aria-hidden="true">
				
				<div class="four-text">
					<h3>Pending</h3>
					<h4>Resume</h4>
				</div>
				</i>
				</div>
				</a>
			  </div>
		   </div>
		   <div class="clearfix"></div>
	   </div>
	   <div class="col-lg-12">
			
<section class="row" ng-controller="myCtrl">

   		<table class="table table-sm table-dark" id="table">
  <thead>
    <tr class="table-active">
      <th scope="col">S.no</th>
      <th scope="col">Employee ID</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  	<tr class="table-active" ng-repeat="i in range(star,end)">
    <td scope="row">{{records[i].sno}}</td>
    <td scope="row">{{records[i].empid}}</td>
  	<td scope="row">{{records[i].name}}</td> 
    <td scope="row">
      <button type="button" class="btn btn-danger">Preview&nbsp&nbsp&nbsp</button>
       <button type="button" class="btn btn-info" id="pdf-button" value="Download PDF" onclick="downloadPDF()">Download</button>
    </td>

    </tr>
  </tbody>
  </table>
  <button type="button" class="btn btn-info prvs" ng-click="previous()">previous</button>
      <button type="button" class="btn btn-danger nxt" ng-click="change()" >next</button></td>
   </section></div>

</div>
<footer class="col-lg-12 col-xs-12 col-md-12 col-sm-12 foot">

            <div class="row">
        
             <div class="col-lg-offset-2 col-lg-8 col-xs-12 col-md-12 col-sm-12">   
             <p ><span class="glyphicon glyphicon-copyright-mark "></span>   2017 North america photon Infotech Limited. |<a href="#">www.photoninfotech.in</a></p>
       </div>
       
       </div>
        </footer>

</div>
















		



  
<div class="sidebar-menu">
	<header class="logo1">
		<a href="#" class="sidebar-icon"> <span class="glyphicon glyphicon-th-list"></span> </a> 
	</header>

      <div class="menu">
		 <ul id="menu" >
			<li><a href="index.html"><i class="glyphicon glyphicon-dashboard"></i> <span>Dashboard</span><div class="clearfix"></div></a></li>
			<li id="menu-content" ><a href="#"><i class="glyphicon glyphicon-cog" aria-hidden="true"></i><span> UI Components</span> <span class="glyphicon glyphicon-chevron-right"></span><div class="clearfix"></div></a>
		       <ul id="menu-content-sub" >
			     <li id="menu-subcontent" ><a href="Total.html">Total Resume</a></li>
			     <li id="menu-subcontent" ><a href="complete.html">Completed Resume</a></li>
			     <li id="menu-subcontent" ><a href="pending.html">Pending Resume</a></li>
		       </ul>
			</li>
			<li><a href="#table"><i class="glyphicon glyphicon-th"></i>  <span>Tables</span><div class="clearfix"></div></a></li>
			<li id="menu-content" ><a href="#"><i class="glyphicon glyphicon-file"></i>  <span>Pages</span> <span class="glyphicon glyphicon-chevron-right" ></span><div class="clearfix"></div></a>
			  <ul id="menu-content-sub" >
				 <li id="menu-subcontent" ><a href="login.html">Login</a></li>
			  </ul>
			</li>
			<li><a href="#"><i class="glyphicon glyphicon-check nav_icon"></i><span>Forms</span> <span class="glyphicon glyphicon-chevron-right"></span><div class="clearfix"></div></a>
				 <ul>
					<li><a href="personal.html">personal Details</a></li>
					<li><a href="education.html">Education Details</a></li>
					<li><a href="work.html">Work Experience</a></li>	
				</ul>
			</li>
		</ul>
	  </div>
</div>
<div class="clearfix"></div>	


</div>
</div>
							<script>
							var toggle = true;
										
							$(".sidebar-icon").click(function() {                
							  if (toggle)
							  {
								$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
								$("#menu span").css({"position":"absolute"});
							  }
							  else
							  {
								$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
								setTimeout(function() {
								  $("#menu span").css({"position":"relative"});
								}, 400);
							  }
											
											toggle = !toggle;
										});
							</script>

</body>
</html>